/* Đặt màu cho placeholder */
::placeholder {
    color: white;
    opacity: 1; /* Đảm bảo rằng màu trắng không bị mờ */
}

/* Đặt màu cho placeholder trên các trình duyệt khác nhau */
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpaper.dog/large/962713.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    backdrop-filter: blur(20px);
}

.form-container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: white;
}

.input_box input {
    width: calc(100% - 40px); /* Giảm đi 40px để tạo chỗ cho icon */
    height: 100%;
    border-radius: 40px;
    outline: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding-left: 40px; /* Thêm padding để icon không bị che khuất */
}

.form-container .anticon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.form-container label,
.form-container a {
    color: white;
}

.form_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1890ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin bottom to separate buttons */
}

.facebook-login {
    background-color: #3b5998;
}

.google-login {
    background-color: #db4437;
}

.form-container form {
    width: 100%;
    max-width: 400px; /* Điều chỉnh kích thước tối đa của form */
}

.form-container p {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.form-container p a {
    color: white;
}

