.register_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://rukminim2.flixcart.com/image/850/1000/xif0q/poster/8/a/k/medium-anime-scenery-beautiful-nature-dreamworld-anime-aesthetic-original-imagkzhhq3gvejxc.jpeg?q=90&crop=false');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
}

.form-container {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    backdrop-filter: blur(20px);
}

.form-container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 72%;
    
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items within each column */
    margin-left: -230px;
    
}

.input_box {
    position: relative;
    width: 400px; /* Fixed width for input boxes */
    height: 50px;
    margin: 15px 0; /* Adjusted margin */
    color: rgb(0, 0, 0);
}

.input_box input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    outline: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    padding-left: 40px;
    font-size: 16px; /* Increase font size for better readability */
}

.input_box select {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    outline: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    padding-left: 40px;
    font-size: 16px; /* Increase font size for better readability */
}
.input_box ::placeholder {
    
    color: rgb(0, 0, 0);
    
}

.form-container .anticon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
}

.form-container button {
    width: 100%;
    padding: 15px; /* Increase padding for the button */
    border-radius: 5px;
    border: none;
    background-color: #1890ff;
    color: #fff;
    font-size: 18px; /* Increase font size for the button */
    cursor: pointer;
    margin-top: 20px; /* Add margin top to separate from inputs */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-container p {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.form-container p a {
    color: white;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
