/* properties_detail.css */
.page-heading {
    background-color: #007bff;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  .page-heading .breadcrumb {
    color: #fff;
    margin-bottom: 0;

  }
  
  .single-property {
    padding: 60px 0;
  }
  
  .main-image img {
    width: 100%;
    height: auto;
  }
  
  .main-content {
    margin-top: 30px;
  }
  
  .main-content .category {
    display: inline-block;
    background-color: #e28ee7;
    color: #000000;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .accordion-button {
    color: #007bff;
  }
  
  .accordion-button:not(.collapsed) {
    color: #333;
  }
  
  .info-table ul {
    list-style: none;
    padding: 0;
  }
  
  .info-table ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .info-table ul li img {
    margin-right: 20px;
  }
  
  .info-table ul li h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .booking-form {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .booking-form h3 {
    margin-bottom: 20px;
  }
  
  .booking-form .ant-form-item-label > label {
    color: #333;
  }
  