/* ForgotPassword.css */

.forgot_password_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.pinimg.com/originals/bd/53/ef/bd53ef73b03efa068f41574df70ed810.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.form-container {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    backdrop-filter: blur(10px);
}

.form-container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: white;
}

.input_box input {
    width: calc(100% - 40px);
    height: 100%;
    border-radius: 40px;
    outline: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding-left: 40px;
}

.form-container .anticon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1890ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container p {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.form-container p a {
    color: white;
}
